body {
  background-color: #141414;
  font-family: Inter, sans-serif;
  color: #f0f2f3;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

p {
  margin-bottom: 24px;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

strong {
  font-weight: bold;
}

.nav {
  padding: 24px 36px;
  background-color: transparent;
}

.container {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.container.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.about-c {
  max-width: 940px;
}

.nav-name {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: -2px;
}

.nav-icon {
  width: auto;
  height: 40px;
  margin-right: 10px;
}

.section {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-right: 36px;
  padding-left: 36px;
}

.section.portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.section.cta {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #181818;
}

.section.about {
  padding-top: 80px;
  padding-bottom: 80px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 100%;
  object-position: 50% 100%;
}

.section.port {
  padding-top: 80px;
  padding-bottom: 80px;
}

.portfolio-wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.portfolio-item__inner {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #1d1d1d;
  -webkit-transition: background-color 300ms cubic-bezier(.23, 1, .32, 1);
  transition: background-color 300ms cubic-bezier(.23, 1, .32, 1);
  color: #f0f2f3;
  text-decoration: none;
}

.portfolio-item__inner:hover {
  background-color: #202020;
}

.app-store-link {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  margin-top: 16px;
  margin-right: 16px;
}

.app-store-link.hidden {
  display: none;
}

.phone-wrap {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.phone-container {
  position: relative;
  width: 70%;
  height: 100%;
}

.phone-frame {
  position: relative;
  z-index: 10;
  height: 100%;
  background-image: url('../images/phone-frame.png');
  background-position: 50% 0%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.app-img {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 5;
  width: 90%;
  height: 100%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 0%;
  object-position: 50% 0%;
}

.app-img._1 {
  margin-top: 11px;
}

.app-img.home {
  margin-top: 18px;
}

.main {
  width: 100%;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #707070;
}

.portfolio-item-info-wrap {
  position: relative;
  z-index: 10;
  width: 64%;
  margin-top: 16px;
  margin-left: 16px;
}

.project-thumb-title {
  margin-top: 0px;
  font-size: 28px;
}

.div-block {
  padding: 145px 172px;
}

.list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-wrapper {
  color: #5cf602;
}

.icon-wrapper:hover {
  color: #f60202;
}

.icon-wrap {
  color: #ff17f7;
}

.p40 {
  padding: 40px;
}

.bm-0 {
  margin-bottom: 0px;
}

.bg-white {
  background-color: #fff;
}

.dark-text {
  color: #000;
}

.card-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.mt-20 {
  margin-top: 20px;
}

.nav-brand-link {
  color: #f0f2f3;
}

.nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 36px;
  padding: 8px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #707070;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #f0f2f3;
}

.nav-link.w--current {
  color: #e67058;
}

.cta-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  background-color: #252525;
}

.body {
  background-color: #181818;
}

.cta-card__text-wrap {
  position: relative;
  z-index: 2;
  max-width: 50%;
}

.heading-2 {
  margin-bottom: 12px;
}

.cta-card__subtitle {
  margin-bottom: 0px;
  color: rgba(240, 242, 243, 0.5);
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.btn-main {
  padding: 16px 36px;
  background-color: #252525;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.btn-main:hover {
  background-color: #707070;
}

.btn-main.icon {
  position: relative;
  z-index: 10;
  padding-right: 24px;
  padding-left: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: #035274;
  border-radius: 8px;
  background-color: rgba(3, 82, 116, 0.3);
  background-image: url('../images/twitter.svg');
  background-position: 24px 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.btn-main.icon:hover {
  background-color: #205d77;
}

.cta-circle {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 1;
  width: 420px;
  height: 420px;
  margin-bottom: -90px;
  margin-left: -42px;
  border-radius: 50%;
  background-color: #1d1d1d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#252525), to(#181818));
  background-image: linear-gradient(180deg, #252525, #181818);
}

.tw-color {
  color: #46c4fa;
}

.footer {
  position: relative;
  z-index: 10;
  padding: 40px 36px;
}

.intro-wrap {
  display: -ms-grid;
  display: grid;
  margin-bottom: 148px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1.5fr 1fr;
  grid-template-columns: 1.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.intro-heading {
  max-width: 580px;
  margin-bottom: 24px;
  font-weight: 400;
}

.short-bio {
  max-width: 580px;
  color: #707070;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}

.social-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 36px;
  height: 36px;
  margin-right: 12px;
  margin-left: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: 'Fa brands 400', sans-serif;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.social-icon:hover {
  color: #e67058;
}

.social-icon.mail {
  font-family: 'Fa solid 900', sans-serif;
}

.social-icon.mail.f-social {
  width: 24px;
  height: 24px;
  margin-right: 0px;
  font-size: 16px;
}

.social-icon.f-social {
  width: 24px;
  height: 24px;
  font-size: 16px;
}

.section-tag {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-left: -24px;
  color: #707070;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.section-tag.rot-text.project-page {
  margin-top: 36px;
}

.jumno-text {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 1;
  display: inline-block;
  margin-left: -30px;
  color: #181818;
  font-size: 200px;
  line-height: 200px;
  font-weight: 900;
  white-space: nowrap;
}

.jumno-text.rot-text {
  left: 0%;
  top: 0px;
  right: auto;
  bottom: auto;
}

.jumno-text.rot-text.about {
  margin-top: 100px;
  margin-left: -40px;
}

.body-wrap {
  position: relative;
}

.about-img {
  width: 100%;
  max-height: 640px;
  -o-object-fit: cover;
  object-fit: cover;
}

.about-img-wrap {
  position: relative;
}

.about-title {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  margin-bottom: -1px;
  margin-left: -45px;
  padding: 20px;
  background-color: #141414;
  color: #fff;
  font-size: 80px;
  line-height: 60px;
  font-weight: 900;
}

.about-cta {
  padding: 60px 60px 36px;
}

.about-cta p {
  color: #8d8d8d;
  font-size: 20px;
  line-height: 36px;
  font-weight: 300;
}

.port-container {
  position: relative;
}

.nav-link-icon {
  margin-right: 6px;
  font-family: 'Fa solid 900', sans-serif;
  font-size: 16px;
}

.nav-link-icon.medium {
  margin-right: 6px;
  font-family: 'Fa brands 400', sans-serif;
  font-size: 14px;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-wrap {
  position: relative;
}

.project-thumb {
  position: relative;
  z-index: 80;
  width: 100%;
  margin-top: -165px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 0%;
  object-position: 50% 0%;
}

.main-port-img {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.main-img-wrap {
  position: relative;
  padding-top: 79px;
  padding-bottom: 79px;
  background-color: #181818;
}

.app-name {
  position: relative;
  z-index: 2;
  margin-bottom: -40px;
  font-size: 5vw;
  line-height: 80px;
  text-align: center;
}

.app-info-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 4px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.app-info-col {
  background-color: #181818;
}

.app-info-col.app-sticky-col {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.app-info-col.app-rte-col {
  padding: 48px;
}

.app-rte p {
  color: #8d8d8d;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.app-rte strong {
  color: #f0f2f3;
}

.app-rte ul {
  padding-left: 12px;
  list-style-type: none;
}

.app-rte li {
  margin-bottom: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 36px;
  background-image: url('../images/circle.svg');
  background-position: 0% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  color: #8d8d8d;
  font-size: 16px;
}

.lightbox-wrap {
  display: -ms-grid;
  display: grid;
  margin-top: 4px;
  grid-auto-columns: 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.lightbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #181818;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.lightbox:hover {
  background-color: #1d1d1d;
}

.related-projects-wrap {
  display: -ms-grid;
  display: grid;
  margin-top: 80px;
  grid-auto-columns: 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.related-p-col {
  position: relative;
  overflow: hidden;
  min-height: 360px;
  background-color: #181818;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.related-p-col:hover {
  background-color: #1d1d1d;
}

.phone-wrap-port-page {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.r-heading {
  margin-top: 80px;
  color: #8d8d8d;
  text-align: center;
}

.text-block {
  margin-top: 24px;
}

.r-cont {
  position: relative;
}

.info-btn-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.github-btn-icon {
  margin-right: 6px;
  font-family: 'Fa brands 400', sans-serif;
}

.github-btn {
  margin-bottom: 6px;
  padding: 10px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #e67058;
  border-radius: 4px;
  background-color: rgba(230, 112, 88, 0.12);
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  color: #e67058;
  text-decoration: none;
}

.github-btn:hover {
  background-color: #e67058;
  color: #fff;
}

.lb-img {
  max-height: 120px;
  max-width: 80%;
}

.note-block {
  margin-top: 4px;
  padding: 48px;
  background-color: #181818;
}

@media screen and (max-width: 991px) {
  .app-img {
    margin-top: 4px;
  }
  .app-img._1 {
    margin-top: 4px;
  }
  .app-img.home {
    margin-top: 10px;
  }
  .nav-link {
    margin-left: 0px;
    padding: 24px 64px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.32);
    color: #707070;
  }
  .nav-link:hover {
    color: #f0f2f3;
  }
  .intro-wrap {
    -ms-grid-columns: 1.5fr;
    grid-template-columns: 1.5fr;
  }
  .social-col {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .social-icon {
    margin-left: 0px;
  }
  .nav-menu {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    padding-top: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #1d1d1d;
  }
  .app-name {
    font-size: 8vw;
  }
  .app-info-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .lightbox-wrap {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .related-p-col {
    min-height: 280px;
  }
  .info-btn-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .github-btn {
    margin-right: 12px;
    margin-left: 12px;
  }
  .menu-button {
    z-index: 90;
    background-color: transparent;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .html-embed {
    margin-right: 12px;
    margin-left: 12px;
  }
}

@media screen and (max-width: 767px) {
  .app-img {
    margin-top: 3px;
  }
  .app-img._1 {
    margin-top: 12px;
  }
  .app-img.home {
    margin-top: 3px;
  }
  .cta-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cta-card__text-wrap {
    max-width: 100%;
    margin-bottom: 36px;
  }
  .cta-circle {
    margin-left: -118px;
  }
  .about-cta {
    padding: 24px;
  }
  .main-port-img {
    width: 80%;
  }
  .app-name {
    font-size: 12vw;
  }
  .related-projects-wrap {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .related-p-col {
    min-height: 420px;
  }
}

@media screen and (max-width: 479px) {
  .nav {
    padding-right: 24px;
    padding-left: 24px;
  }
  .container.footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .section {
    padding-right: 28px;
    padding-left: 28px;
  }
  .section.about {
    padding-bottom: 56px;
  }
  .portfolio-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .app-img {
    margin-top: 5px;
  }
  .app-img._1 {
    margin-top: 6px;
  }
  .app-img.home {
    margin-top: 5px;
  }
  .cta-card {
    padding: 24px;
  }
  .about-cta {
    padding-right: 0px;
    padding-left: 0px;
  }
  .about-cta p {
    font-size: 16px;
    line-height: 26px;
  }
  .main-port-img {
    width: 100%;
  }
  .app-name {
    font-size: 12vw;
  }
  .app-info-col.app-sticky-col {
    padding: 24px;
  }
  .app-info-col.app-rte-col {
    padding: 24px;
  }
  .app-rte ul {
    padding-left: 0px;
  }
  .app-rte li {
    padding-left: 28px;
    line-height: 24px;
  }
  .lightbox-wrap {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .related-p-col {
    min-height: 280px;
  }
  .info-btn-flex {
    margin-top: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .github-btn {
    margin-top: 12px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .copyright {
    margin-top: 24px;
    text-align: center;
  }
  .html-embed {
    margin-right: 0px;
    margin-left: 0px;
  }
  .note-block {
    padding: 24px;
  }
}

@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2'), url('../fonts/fa-brands-400.eot') format('embedded-opentype'), url('../fonts/fa-brands-400.woff') format('woff'), url('../fonts/fa-brands-400.ttf') format('truetype'), url('../fonts/fa-brands-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2'), url('../fonts/fa-solid-900.eot') format('embedded-opentype'), url('../fonts/fa-solid-900.woff') format('woff'), url('../fonts/fa-solid-900.ttf') format('truetype'), url('../fonts/fa-solid-900.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa duotone 900';
  src: url('../fonts/fa-duotone-900.woff2') format('woff2'), url('../fonts/fa-duotone-900.eot') format('embedded-opentype'), url('../fonts/fa-duotone-900.woff') format('woff'), url('../fonts/fa-duotone-900.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa 300';
  src: url('../fonts/fa-light-300.woff2') format('woff2'), url('../fonts/fa-light-300.eot') format('embedded-opentype'), url('../fonts/fa-light-300.woff') format('woff'), url('../fonts/fa-light-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.woff2') format('woff2'), url('../fonts/fa-regular-400.eot') format('embedded-opentype'), url('../fonts/fa-regular-400.woff') format('woff'), url('../fonts/fa-regular-400.ttf') format('truetype'), url('../fonts/fa-regular-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}